.register-legend {
    font-weight: bold;
    font-size: 1.2em;
}

.register-label {
    font-size: 1.2em;
    margin-bottom: 0.4em;
}

.register-input {
    display: block;
    width: 50%;
    max-width: 50%;
    font-size: 1em;
    padding: 0.6rem 0.6rem;
    border-radius: 0.2rem;
}

.register-button {
    background-color: #fff;
    /* color: #333; */
    font-size: 1em;
    padding: 0.4rem 1rem;
    border-radius: 0.2rem;
}

.register-button:active {
    background-color: #a6a6a6;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
